.cover__link {
  display: block;
  padding: 245px 312px 343px 312px;
  text-decoration: none;
  background-color: rgba(42, 44, 47, 0.3);
}

.cover__link:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width:1280px) and (min-width:1024px) {
  .cover__link {
    padding: 195px 252px 293px 252px;
  }
}

@media screen and (max-width:1023px) and (min-width:768px) {
  .cover__link {
    padding: 115px 104px 213px 104px;
  }
}

@media screen and (max-width:767px) and (min-width:320px) {
  .cover__link {
    padding: 33px calc((100% - 288px)/ 2) 97px;
  }
}
