.footer__item {
  margin-left: 18px;
}

.footer__item:first-of-type {
  margin-left: 0;
}

@media screen and (max-width:767px) and (min-width:320px) {
  .footer__item {
    margin-bottom: 28px;
    margin-left: 16px;
  }

  .footer__item:first-of-type {
    margin-left: 16px;
  }

  .footer__item:last-of-type {
    margin-bottom: 46px;
  }
}
