.cover__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  color: #FFF;
  margin-bottom: 0;
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

@media screen and (max-width:767px) and (min-width:320px) {
  .cover__title {
    font-size: 32px;
    max-width: 288px;
  }
}
