.place__url-heading {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.75;
  color: #AAAAAA;
  letter-spacing: 2px;
}

@media screen and (max-width:767px) and (min-width:320px) {
  .place__url-heading {
    padding-left: 16px;
    padding-right: 16px;
  }
}
